<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/ashwin/IdeaProjects/Selenium-MyProjects">
        <classes>
            <class name="FacebookTestCases.ExecuteTest_Facebook">
                <methods>
                    <include name="TestLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>